#! /bin/bash
sudo yum update -y
sudo yum install git -y
sudo yum install php php-pdo php-mysql -y
sudo yum install php-pdo php-mysqlnd -y
sudo amazon-linux-extras install -y lamp-mariadb10.2-php7.2 php7.2
sudo yum install -y httpd
sudo systemctl start httpd
sudo systemctl enable httpd
sudo usermod -a -G apache ec2-user
sudo chown -R ec2-user:apache /var/www
cd /var/www
git clone https://github.com/lunatic-def/temp.git
mkdir inc
mv /var/www/temp/db_config.inc /var/www/inc
mv /var/www/temp/Website.php /var/www/html
sudo systemctl restart httpd